/* Calendar Overrides for Dark Mode */
.rbc-calendar {
    color: #e4e4e7;
    /* Zinc 200 */
}

.rbc-off-range-bg {
    background-color: #18181b !important;
    /* Zinc 900 */
}

.rbc-today {
    background-color: rgba(212, 175, 55, 0.1) !important;
    /* Gold Tint */
}

.rbc-toolbar button {
    color: white !important;
    border-color: #3f3f46 !important;
    /* Zinc 700 */
}

.rbc-toolbar button:hover {
    background-color: #27272a !important;
    /* Zinc 800 */
}

.rbc-toolbar button.rbc-active {
    background-color: #d4af37 !important;
    /* Gold */
    color: black !important;
    border-color: #d4af37 !important;
}

.rbc-header {
    border-bottom: 1px solid #3f3f46 !important;
    padding: 10px !important;
}

.rbc-month-view,
.rbc-time-view,
.rbc-agenda-view {
    border: 1px solid #3f3f46 !important;
}

.rbc-day-bg+.rbc-day-bg {
    border-left: 1px solid #3f3f46 !important;
}

.rbc-month-row+.rbc-month-row {
    border-top: 1px solid #3f3f46 !important;
}